@model Hrinnova_FormsProject.Models.Model2

@Html.AntiForgeryToken()
<div class="container-fluid">
    <div class="middel-content">
        <div class="clearfix">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h1 align="center">Employee Details</h1>
                    <br>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.employeedetails.employee_id)
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Employee Code :<span style="color:red" class="required">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.employee_code, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.employee_code, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Designation :<span style="color:red" class="required">*</span></label>
                            </div>
                            <div class="col-sm-8">
                              @Html.DropDownList("Designations", (IEnumerable<SelectListItem>)ViewBag.PriorityID, new { @class = "form-control chosen-select" })
                                @Html.ValidationMessageFor(model => model.employeedetails.designation, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Department :<span style="color:red" class="required">*</span></label>
                            </div>
                            <div class="col-sm-8">
                              @Html.DropDownList("Departments", (IEnumerable<SelectListItem>)ViewBag.PriorityID, new { @class = "form-control chosen-select" })
                                @Html.ValidationMessageFor(model => model.employeedetails.department, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">First Name :<span style="color:red" class="required">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.firstname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.firstname, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Middle Name :<span style="color:red" class="required">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.middlename, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.middlename, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Surname :<span style="color:red" class="required">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.surname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.surname, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Gender :</label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.gender, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.gender, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Date of Birth :</label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.date_of_birth, new { htmlAttributes = new { @class = "form-control datepicker", Type = "text" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.date_of_birth, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Date of Joining :<span style="color:red" class="required">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.date_of_joining, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.date_of_joining, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Marital Status :<span style="color:red" class="required">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.marital_status, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.marital_status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">

                                <label class="control-label">Marriage <br> Anniversary :</label>

                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.marriage_anniversary, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.marriage_anniversary, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Blood Group :</label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.blood_group, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.blood_group, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Contact Number :<span style="color:red" class="required">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.mobile_number, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.mobile_number, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Home Number :<span style="color:red" class="required">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.home_number, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.home_number, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Alternate Number :<span style="color:red" class="required">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.alternate_number, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.alternate_number, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Emergency <br /> Number :<span style="color:red" class="required">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.emergency_number, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.emergency_number, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Email Id :<span style="color:red" class="required">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.email_id, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.email_id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Temporary<br> Address :<span style="color:red" class="required">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                @Html.TextAreaFor(model => model.employeedetails.temporary_address, new { @style = "width:100%", @rows = 5 , @id="tempaddress", @class="form-control"})
                                @Html.ValidationMessageFor(model => model.employeedetails.temporary_address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-8">
                                <input type="checkbox" onchange="copyaddress()" id="copyaddresscheck" />Permanent address is same as temporary address
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Permanent <br>Address:<span style="color:red" class="required">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                @Html.TextAreaFor(model => model.employeedetails.permanent_address, new { @style = "width:100%", @rows = 5, @id = "permaddress", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.employeedetails.permanent_address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Aadhar Card :<span style="color:red" class="required">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.aadhar_card, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.aadhar_card, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">PAN Card :</label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.pan_card, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.pan_card, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Passport Number :</label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.passport_number, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.passport_number, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Validity of Passport :</label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.passport_validity, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.passport_validity, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Election Card :<span style="color:red" class="required">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.election_card, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.election_card, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Vehicle Number :<span style="color:red" class="required">*</span></label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.vehicle_number, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.vehicle_number, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Single Bank Account :</label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.single_bank_account, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.single_bank_account, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">IFS Code :</label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.ifs_code, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.ifs_code, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Allergies:</label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.allergies, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.allergies, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Known Ailments:</label>
                            </div>
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.employeedetails.known_ailments, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.employeedetails.known_ailments, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/JsScript/Copyaddressjs.js"></script>
