@model Hrinnova_FormsProject.Models.Model2


@Html.AntiForgeryToken()
<div class="container-fluid">
    <div class="middel-content">
        <div class="clearfix">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 align="center">Feedback Form</h1>
                    <div class="col-md-4">

                        <h3>HR Department</h3>
                        <div class="row">
                            <label class="col-sm-6 control-label">HR Manual :</label>

                            @Html.RadioButtonFor(model => model.Feedback.hr_manual, "Yes", new { @style = "width:20px;height:20px;" }) <label class="control-label">Yes</label>
                            @Html.RadioButtonFor(model => model.Feedback.hr_manual, "No", new { @style = "width:20px;height:20px;" }) <label class="control-label">No</label>
                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-6 control-label">CIMS ID/Password:</label>

                            @Html.RadioButtonFor(i => i.Feedback.cims_idpassword, "Yes", new { @style = "width:20px;height:20px;" }) <label class="control-label">Yes</label>
                            @Html.RadioButtonFor(i => i.Feedback.cims_idpassword, "No", new { @style = "width:20px;height:20px;" }) <label class="control-label">No</label>

                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-6 control-label">Books (if required):</label>

                            @Html.RadioButtonFor(i => i.Feedback.books, "Yes", new { @style = "width:20px;height:20px;" }) <label class="control-label">Yes</label>
                            @Html.RadioButtonFor(i => i.Feedback.books, "No", new { @style = "width:20px;height:20px;" }) <label class="control-label">No</label>

                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-6 control-label">Library Card (if required) :</label>

                            @Html.RadioButtonFor(i => i.Feedback.library_card, "Yes", new { @style = "width:20px;height:20px;" }) <label class="control-label">Yes</label>
                            @Html.RadioButtonFor(i => i.Feedback.library_card, "No", new { @style = "width:20px;height:20px;" }) <label class="control-label">No</label>

                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-6 control-label">Any other :</label>

                            @Html.RadioButtonFor(i => i.Feedback.hr_anyother, "Yes", new { @style = "width:20px;height:20px;" }) <label class="control-label">Yes</label>
                            @Html.RadioButtonFor(i => i.Feedback.hr_anyother, "No", new { @style = "width:20px;height:20px;" }) <label class="control-label">No</label>

                        </div>
                    </div>


                    <div class="col-md-4">
                        <h3>Administration</h3>
                        <div class="row">
                            <label class="col-sm-6 control-label">Identity Card :</label>
                            @Html.RadioButtonFor(i => i.Feedback.identitycard, "Yes", new { @style = "width:20px;height:20px;" }) <label class="control-label">Yes</label>
                            @Html.RadioButtonFor(i => i.Feedback.identitycard, "No", new { @style = "width:20px;height:20px;" }) <label class="control-label">No</label>

                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-6 control-label">Bank Account :</label>

                            @Html.RadioButtonFor(i => i.Feedback.bank_account, "Yes", new { @style = "width:20px;height:20px;" }) <label class="control-label">Yes</label>
                            @Html.RadioButtonFor(i => i.Feedback.bank_account, "No", new { @style = "width:20px;height:20px;" }) <label class="control-label">No</label>

                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-6 control-label">Notepad :</label>

                            @Html.RadioButtonFor(i => i.Feedback.notepad, "Yes", new { @style = "width:20px;height:20px;" }) <label class="control-label">Yes</label>
                            @Html.RadioButtonFor(i => i.Feedback.notepad, "No", new { @style = "width:20px;height:20px;" }) <label class="control-label">No</label>

                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-6 control-label">Pen :</label>

                            @Html.RadioButtonFor(i => i.Feedback.pen, "Yes", new { @style = "width:20px;height:20px;" }) <label class="control-label">Yes</label>
                            @Html.RadioButtonFor(i => i.Feedback.pen, "No", new { @style = "width:20px;height:20px;" }) <label class="control-label">No</label>

                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-6 control-label">Employee Card :</label>

                            @Html.RadioButtonFor(i => i.Feedback.employee_card, "Yes", new { @style = "width:20px;height:20px;" }) <label class="control-label">Yes</label>
                            @Html.RadioButtonFor(i => i.Feedback.employee_card, "No", new { @style = "width:20px;height:20px;" }) <label class="control-label">No</label>

                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-6 control-label">Any other :</label>

                            @Html.RadioButtonFor(i => i.Feedback.admin_anyother, "Yes", new { @style = "width:20px;height:20px;" }) <label class="control-label">Yes</label>
                            @Html.RadioButtonFor(i => i.Feedback.admin_anyother, "No", new { @style = "width:20px;height:20px;" }) <label class="control-label">No</label>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3>System Administration</h3>
                        <div class="row">
                            <label class="col-sm-6 control-label">Computer System(PC) :</label>

                            @Html.RadioButtonFor(i => i.Feedback.computer_system, "Yes", new { @style = "width:20px;height:20px;" }) <label class="control-label">Yes</label>
                            @Html.RadioButtonFor(i => i.Feedback.computer_system, "No", new { @style = "width:20px;height:20px;" }) <label class="control-label">No</label>

                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-6 control-label">Headphones (if required) :</label>

                            @Html.RadioButtonFor(i => i.Feedback.headphones, "Yes", new { @style = "width:20px;height:20px;" }) <label class="control-label">Yes</label>
                            @Html.RadioButtonFor(i => i.Feedback.headphones, "No", new { @style = "width:20px;height:20px;" }) <label class="control-label">No</label>

                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-6 control-label">Email ID/Password :</label>

                            @Html.RadioButtonFor(i => i.Feedback.emailid_password, "Yes", new { @style = "width:20px;height:20px;" }) <label class="control-label">Yes</label>
                            @Html.RadioButtonFor(i => i.Feedback.emailid_password, "No", new { @style = "width:20px;height:20px;" }) <label class="control-label">No</label>

                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-6 control-label">Network IP :</label>

                            @Html.RadioButtonFor(i => i.Feedback.network_ip, "Yes", new { @style = "width:20px;height:20px;" }) <label class="control-label">Yes</label>
                            @Html.RadioButtonFor(i => i.Feedback.network_ip, "No", new { @style = "width:20px;height:20px;" }) <label class="control-label">No</label>

                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-6 control-label">Firewall ID:</label>

                            @Html.RadioButtonFor(i => i.Feedback.firewall_id, "Yes", new { @style = "width:20px;height:20px;" }) <label class="control-label">Yes</label>
                            @Html.RadioButtonFor(i => i.Feedback.firewall_id, "No", new { @style = "width:20px;height:20px;" }) <label class="control-label">No</label>

                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-6 control-label">Domain Username and Password :</label>

                            @Html.RadioButtonFor(i => i.Feedback.domain_usernamepassword, "Yes", new { @style = "width:20px;height:20px;" }) <label class="control-label">Yes</label>
                            @Html.RadioButtonFor(i => i.Feedback.domain_usernamepassword, "No", new { @style = "width:20px;height:20px;" }) <label class="control-label">No</label>

                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-6 control-label">Access to messengers(Yahoo, MSN, Skype, Google Talk, etc.):</label>

                            @Html.RadioButtonFor(i => i.Feedback.messengers_access, "Yes", new { @style = "width:20px;height:20px;" }) <label class="control-label">Yes</label>
                            @Html.RadioButtonFor(i => i.Feedback.messengers_access, "No", new { @style = "width:20px;height:20px;" }) <label class="control-label">No</label>


                        </div>
                        <br>
                        <div class="row">
                            <label class="col-sm-6 control-label">Any other :</label>

                            @Html.RadioButtonFor(i => i.Feedback.systemadmin_anyother, "Yes", new { @style = "width:20px;height:20px;" }) <label class="control-label">Yes</label>
                            @Html.RadioButtonFor(i => i.Feedback.systemadmin_anyother, "No", new { @style = "width:20px;height:20px;" }) <label class="control-label">No</label>

                        </div>
                    </div>
                       
                    </div>
            </div>
        </div>
    </div>
</div>
    <div class="container-fluid">
        <div class="middel-content">
            <div class="clearfix">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Joinee</h3>
                        <div class="row">
                            <label class="col-sm-6 control-label">HR Manual studied and ISMS responsibilities understood :</label>
                            @Html.RadioButtonFor(i => i.Feedback.hrmanual_and_responsibilities, "Yes", new { @style = "width:20px;height:20px;" }) <label class="control-label">Yes</label>
                            @Html.RadioButtonFor(i => i.Feedback.hrmanual_and_responsibilities, "No", new { @style = "width:20px;height:20px;" }) <label class="control-label">No</label>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   


