@model Hrinnova_FormsProject.Models.Model2
@Html.AntiForgeryToken()
<div class="container-fluid">
    <div class="middel-content">
        <div class="clearfix">
            <div class="panel panel-default">
                <div class="panel-body">


                    <h1 align="center">ESIC Information</h1>
                    <br>
                    <div class="row">

                        <div class="col-sm-3">
                            <label class="control-label">Insurance Number :</label>

                        </div>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.esicdetails.insurance_number, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.esicdetails.insurance_number, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br>
                    <div class="row">

                        <div class="col-sm-3">
                            <label class="control-label">Branch Office :</label>

                        </div>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.esicdetails.branch_office, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.esicdetails.branch_office, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br>
                    <div class="row">

                        <div class="col-sm-3">
                            <label class="control-label">Dispensary :</label>

                        </div>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.esicdetails.dispensary, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.esicdetails.dispensary, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br>
                    <div class="row">

                        <div class="col-sm-3">
                            <label class="control-label">Employer's Code :</label>

                        </div>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.esicdetails.employers_code, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.esicdetails.employers_code, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br>
                    <div class="row">

                        <div class="col-sm-3">
                            <label class="control-label">Date of Appointment :</label>

                        </div>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.esicdetails.date_of_appointment, new { htmlAttributes = new { @class = "form-control datepicker" } })
                            @Html.ValidationMessageFor(model => model.esicdetails.date_of_appointment, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br>
                    <div class="row">

                        <div class="col-sm-3">
                            <label class="control-label">Name and Address of Employer :</label>

                        </div>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.esicdetails.employers_nameandaddress, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.esicdetails.employers_nameandaddress, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br>
                    <div class="row">

                        <div class="col-sm-3">
                            <label class="control-label">Previous Insurance Number :</label>

                        </div>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.esicdetails.previous_insurance_number, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.esicdetails.previous_insurance_number, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br>
                    <div class="row">

                        <div class="col-sm-3">
                            <label class="control-label">Name of Nominee :</label>

                        </div>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.esicdetails.name_of_nominee, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.esicdetails.name_of_nominee, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br>
                    <div class="row">

                        <div class="col-sm-3">
                            <label class="control-label">Relationship with Nominee :</label>

                        </div>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.esicdetails.nominee_relationship, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.esicdetails.nominee_relationship, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br>
                    <div class="row">

                        <div class="col-sm-3">
                            <label class="control-label">Nominee Address :</label>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextAreaFor(model => model.esicdetails.nominee_address, new { @style = "width:100%", @rows = 5, @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.esicdetails.nominee_address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br>



                </div>
            </div>
        </div>
    </div>
</div>
<br>