@model Hrinnova_FormsProject.Models.Model2

@Html.AntiForgeryToken()
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/pagetypes.css" rel="stylesheet" />
<script src="~/JsScript/jquery-1.11.3.js"></script>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

</head>

<body>

    <h3 align="center">Employee Details Form</h3>
    <table width="700" align="center">

        <tbody>
            <tr>
                <td style="padding-top:20px" width="47%">Company's Name</td>
                <td style="padding-top:20px">Cygnet Infotech Pvt. Ltd.</td>
            </tr>
            <tr>
                <td style="padding-top:20px" >Employee Code :</td>
                <td style="padding-top:20px">@Html.DisplayFor(model => model.employeedetails.employee_code, new { htmlAttributes = new { @class = "form-control" } })</td>
            </tr>
            <tr>
                <td style="padding-top:20px">Designation and Department :</td>
                <td style="padding-top:20px">
                    @Html.DisplayFor(model => model.employeedetails.designation, new { htmlAttributes = new { @class = "form-control" } })<br />
                    @Html.DisplayFor(model => model.employeedetails.department, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr >
                <td style="padding-top:20px">Name of Member :</td>
                <td style="padding-top:20px">
                    @Html.DisplayFor(model => model.employeedetails.firstname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.DisplayFor(model => model.employeedetails.surname, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr >
                <td style="padding-top:20px">Father/Husband's Name :</td>
                <td style="padding-top:20px">
                    @Html.DisplayFor(model => model.employeedetails.middlename, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr >
                <td style="padding-top:20px">Gender :</td>
                <td style="padding-top:20px">
                    @Html.DisplayFor(model => model.employeedetails.gender, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>

            <tr >
                <td style="padding-top:20px">Date of Joining :</td>
                <td style="padding-top:20px">
                    @Html.DisplayFor(model => model.employeedetails.date_of_joining, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr >
                <td style="padding-top:20px">Date of Birth :</td>
                <td style="padding-top:20px">
                    @Html.DisplayFor(model => model.employeedetails.date_of_birth, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr >
                <td style="padding-top:20px">Marital Status :</td>
                <td style="padding-top:20px">
                    @Html.DisplayFor(model => model.employeedetails.marital_status, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr >
                <td style="padding-top:20px">Contact Number :</td>
                <td style="padding-top:20px">
                    @Html.DisplayFor(model => model.employeedetails.mobile_number, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr >
                <td style="padding-top:20px">Email Id :</td>
                <td style="padding-top:20px">
                    @Html.DisplayFor(model => model.employeedetails.email_id, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>

            <tr >
                <td style="padding-top:20px">ESIC No(if any)<br /> UAN/PF No.(if any) :</td>
                <td style="padding-top:20px">
                    @Html.DisplayFor(model => model.esicdetails.esic_id, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.DisplayFor(model => model.epfodetails.epfo_id, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr >
                <td style="padding-top:20px">Permanent Address :</td>
                <td style="padding-top:20px">
                    @Html.DisplayFor(model => model.employeedetails.permanent_address, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr >
                <td style="padding-top:20px">Temporary Address :</td>
                <td style="padding-top:20px">
                    @Html.DisplayFor(model => model.employeedetails.temporary_address, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>
            <tr><td style="padding-top:20px; font-weight:bold">Family Details(Except brother and sister) :</td></tr>
        </tbody>
    </table>
    <table width="700" height="500" align="center" style="border:solid;border-width:1px">

        <thead style="width:50px; border:solid;border-width:1px">
            <tr>
                <th style="border:solid;border-width:1px">Family Member</th>
                <th style="border:solid;border-width:1px">Name</th>
                <th style="border:solid;border-width:1px">DOB</th>
                <th style="border:solid;border-width:1px">Aadhar Card</th>
                <th style="border:solid;border-width:1px" colspan="2">Address</th>
            </tr>
        </thead>
        <tbody>
            <tr style="border:solid;border-width:1px">
                <td width="100px" style="padding-top:10px;border:solid;border-width:1px">Father</td>
                <td width="100px" style="padding-top:10px;border:solid;border-width:1px">@Html.DisplayFor(m => m.fatherdetails.fname)</td>
                <td width="100px" style="padding-top:10px;border:solid;border-width:1px">@Html.DisplayFor(m => m.fatherdetails.fdateofbirth)</td>
                <td width="100px" style="padding-top:10px;border:solid;border-width:1px">@Html.DisplayFor(m => m.fatherdetails.faadhar)</td>
                <td width="100px" style="padding-top:10px;border:solid;border-width:1px" colspan="2">@Html.DisplayFor(m => m.fatherdetails.ftown), @Html.DisplayFor(m => m.fatherdetails.fstate)</td>
            </tr>
            <tr style="border:solid;border-width:1px">
                <td style="padding-top:10px;border:solid;border-width:1px">Mother</td>
                <td style="padding-top:10px;border:solid;border-width:1px">@Html.DisplayFor(m => m.motherdetails.fname)</td>
                <td style="padding-top:10px;border:solid;border-width:1px">@Html.DisplayFor(m => m.motherdetails.fdateofbirth)</td>
                <td style="padding-top:10px;border:solid;border-width:1px">@Html.DisplayFor(m => m.motherdetails.faadhar)</td>
                <td style="padding-top:10px;border:solid;border-width:1px" width="100px" colspan="2">@Html.DisplayFor(m => m.motherdetails.ftown), @Html.DisplayFor(m => m.motherdetails.fstate)</td>
            </tr>
            @*<tr style="border:solid;border-width:1px">
                    <td style="padding-top:10px">Brother</td>
                    <td style="padding-top:10px">@Html.DisplayFor(m => m.brotherdetails.fname)</td>
                    <td style="padding-top:10px">@Html.DisplayFor(m => m.brotherdetails.fdateofbirth)</td>
                    <td style="padding-top:10px">@Html.DisplayFor(m => m.brotherdetails.faadhar)</td>
                    <td style="padding-top:10px" width="100px" colspan="2">@Html.DisplayFor(m => m.brotherdetails.ftown), @Html.DisplayFor(m => m.brotherdetails.fstate)</td>
                </tr>
                <tr style="border:solid;border-width:1px">
                    <td style="padding-top:10px">Sister</td>
                    <td style="padding-top:10px">@Html.DisplayFor(m => m.sisterdetails.fname)</td>
                    <td style="padding-top:10px">@Html.DisplayFor(m => m.sisterdetails.fdateofbirth)</td>
                    <td style="padding-top:10px">@Html.DisplayFor(m => m.sisterdetails.faadhar)</td>
                    <td style="padding-top:10px" width="100px" colspan="2">@Html.DisplayFor(m => m.sisterdetails.ftown), @Html.DisplayFor(m => m.sisterdetails.fstate)</td>
                </tr>*@
            <tr style="border:solid;border-width:1px">
                <td style="padding-top:10px;border:solid;border-width:1px">Spouse</td>
                <td style="padding-top:10px;border:solid;border-width:1px">@Html.DisplayFor(m => m.spousedetails.fname)</td>
                <td style="padding-top:10px;border:solid;border-width:1px">@Html.DisplayFor(m => m.spousedetails.fdateofbirth)</td>
                <td style="padding-top:10px;border:solid;border-width:1px">@Html.DisplayFor(m => m.spousedetails.faadhar)</td>
                <td style="padding-top:10px;border:solid;border-width:1px" width="100px" colspan="2">@Html.DisplayFor(m => m.spousedetails.ftown), @Html.DisplayFor(m => m.spousedetails.fstate)</td>
            </tr>
            <tr style="border:solid;border-width:1px">
                <td style="padding-top:10px;border:solid;border-width:1px">Children (Specify gender)</td>
                <td style="padding-top:10px;border:solid;border-width:1px">@Html.DisplayFor(m => m.childrendetails.fname)</td>
                <td style="padding-top:10px;border:solid;border-width:1px">@Html.DisplayFor(m => m.childrendetails.fdateofbirth)</td>
                <td style="padding-top:10px;border:solid;border-width:1px">@Html.DisplayFor(m => m.childrendetails.faadhar)</td>
                <td style="padding-top:10px;border:solid;border-width:1px" width="100px" colspan="2">@Html.DisplayFor(m => m.childrendetails.ftown), @Html.DisplayFor(m => m.childrendetails.fstate)</td>
            </tr>

        </tbody>
    </table>
    <br />
    <table align="center" width="700">
        <tbody>
            <tr>
                <td style="padding-right:10px">Aadhar Card : @Html.DisplayFor(m=>m.employeedetails.aadhar_card)</td>
                <td style="padding-right:10px">Pan Card : @Html.DisplayFor(m=>m.employeedetails.pan_card)</td>
                <td style="padding-right:10px">Election Card : @Html.DisplayFor(m=>m.employeedetails.election_card)</td>
            </tr>
            <tr>
                <td style="padding-right:10px; padding-top:10px">Single Bank Account :@Html.DisplayFor(m=>m.employeedetails.single_bank_account)</td>
                <td style="padding-right:10px; padding-top:10px">IFSC : @Html.DisplayFor(m=>m.employeedetails.ifs_code)</td>
            </tr>
            <tr><td><button id="hidebutton">Generate PDF</button></td></tr>
        </tbody>
    </table>
    
    <div class="col-sm-3"></div>
    <div class="col-sm-5"></div>

</body>
</html>
<script src="~/JsScript/hidebutton.js"></script>